<div class="d-none d-md-block col-12 bg-dark">
  <nav class=" text-white">
    <div
      class="avatar d-flex align-items-center flex-wrap justify-content-center justify-content-md-start align-items-center pt-3">
      <div class="avatar-container mx-3">
        <img class="w-100" src="./assets/avatar/Avatar-02.png" alt="img user">
      </div>

      <div class="Avatar-data">
        <p class="fw-bold">Irvin Fernando Frías Torres</p>
        <p class="fs-8">irvin.frias.unam@outlook.com</p>
      </div>
    </div>
    <!--    search button-->
    <app-search-tasks/>
    <app-task-main/>
    <app-task-introduction/>
    <app-task-newlist/>
  </nav>
</div>
