<div class="d-flex justify-content-between bg-dark opacity-75 p-2 mt-1">
  <div class="d-flex ms-3">
    <form class="d-flex align-items-center">
      <input (click)="imprimir()" class="me-3 checkbox" type="checkbox">
    </form>
    <div class="text-white">
      <p>{{importantTask}}</p>
      <p class="fs-7 mt-2"><i class="bi bi-brightness-high mx-2"></i>My day <span class="mx-2">Tasks</span> <i
        class="bi bi-calendar mx-2"></i>
        {{formatDate}}</p>
    </div>
  </div>

  <div class="me-3 d-flex align-items-center">
    <i (click)="toggleDeleteButton()" *ngIf="!deleted" class="bi bi-trash mx-4 fs-5 color text-danger"></i>

    <div *ngIf="deleted" class="d-flex fs-5 delete-btn rounded-5 mx-4">
      <i (click)="deleteTask()" class="bi bi-check px-2 border-btn btn-hover rounded-5 text-danger"></i>
      <i (click)="toggleDeleteButton()" class="bi bi-x px-2 btn-hover rounded-5 text-success"></i>
    </div>
    <i class="bi bi-star text-warning"></i>



  </div>
</div>

